body {
  font-family: sans-serif;
}
 
.mortage-calculater{
  display: flex;
  flex-direction: column;


}
.mortage-calculater-form{
  display: flex;
  flex-direction: column;
  gap: 8px;


}
.mortage-calculeter-results{
  display: flex;
  flex-direction: column;
  gap: 8px;


}